<form>
    <div id="ai-response"></div>
    <input type="text" id="user-input" class="ai-actors" name="user-input" placeholder="Type a description of a character">

    <button type="button" class="ai-actors" title="{{localize "AI-ACTOR.send_message"}}" data-action="send_message"><i class="fa-solid fa-up-long"></i></button>
    <button type="button" data-action="make_ai_actor">{{localize "AI-ACTOR.make_actor"}}</button>
</form>