#ai-response {
    height: 500px;
    overflow: scroll;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#loading {
    height: 150px;
    width: 150px;
}

input.ai-actors {
    padding: 1.1em !important;
    width: 87%;
}
button.ai-actors {
    width: 10%;
}

.ai-actors {
    margin: 8px 0px 8px 8px;
}

.monospace {
    font-family: "Courier New", "Lucida", monospace;
}

hr {
    border-bottom: 1px solid #782e22;
    margin: 1em 0;
}

.ability-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block {
    padding: 1em;
    flex-direction: column;
}

.sm-block {
    font-weight: bold;
    margin-bottom: .5em;
}

h2.actions {
    border-top: 1em;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgba(105, 0, 8, 0.8);
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#ai-img {
    width: 250px;
}

#img_div {
    width: 250px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}